/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #383838;
  margin-bottom: 60px;
  background-image: url("/elseif-bg.png");
}

h1, h2, h3, h4, h5, h6, p, a, .sidebar a, td, td tr, label, tr, .footer-text {
  color: #efefef;
}

textarea, .text-input{
  background-color: #36383d;
  color: white;
  border-radius: 10px;
  outline: none;
  border: 2px solid #FFFF;
}

.text-input{
  width: 70%;
  padding-left: 4px;
}

::placeholder{
  color: #c7c7c7;
}

.main-container{
  margin-top: 90px;
  border-radius: 10px;
  background-color: #36383d;
  padding-top: 15px;
  padding-bottom: 15px;
}

.margin-bruh{
  margin-bottom: 8px;
}

/* prevents background color change when using autofill from browser */
.margin-bruh:-webkit-autofill,
.margin-bruh:-webkit-autofill:hover,
.margin-bruh:-webkit-autofill:active,
.margin-bruh:-webkit-autofill:focus
{
  -webkit-text-fill-color: white;
  color: white;
  -webkit-box-shadow: 0 0 0 30px #36383d inset !important;
  caret-color: white;
}

.poggers-button{
  border-radius: 5px;
}

.image-center{
  margin: auto;
  display: block;
  max-width:100%;
  max-height:100%;
}

a{
  color: #0366d6;
}