@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center">A butter dog occured.</h1>

<img alt="Butter dog" src="https://media1.tenor.com/images/6fca97f29a90bfb755d7a6409e3fbd28/tenor.gif?itemid=19244197" class="image-center">
